<head>
	<title>documentation</title>
	<script src="javascripts/lib/jquery.js"></script>
	<script src="javascripts/lib/json2.js"></script>
	<script src="javascripts/lib/underscore.js"></script>
	<script src="javascripts/lib/backbone.js"></script>
	<script src="javascripts/lib/bootstrap-tooltip.js"></script>
	<script src="javascripts/lib/bootstrap-popover.js"></script>
	<script src="javascripts/lib/bootstrap-alert.js"></script>

	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	
	<script src="javascripts/jStorage/jstorage.js"></script>  
	
	<script src="javascripts/btapp/btapp.js"></script>  
	<script src="javascripts/btapp/client.btapp.js"></script>  
	<script src="javascripts/btapp/plugin.btapp.js"></script>  
	<script src="javascripts/btapp/pairing.btapp.js"></script>  

	<script src="https://raw.github.com/wilhelm-murdoch/jQuery-Wiggle/master/lib/wiggle.jquery.js" type="text/javascript"></script>

	<script src="javascripts/view.js" type="text/javascript"></script>
	<script src="javascripts/index.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/application.css"></link>
</head>
<body>
	<script type="text/template" id="content_function_template">
		<%= name %>
	</script>
	<script type="text/template" id="content_functions_template">
		<h3>Functions:</h3>
		<div class="functions"></div>
	</script>

	<script type="text/template" id="content_attributes_template">
		<h3>Attributes:</h3>
		<div class="attributes"></div>
	</script>

	<script type="text/template" id="content_template">
		<h3>Path:</h3>
		<div><%= path %></div>
		<div class="attributes_container"></div>
		<div class="functions_container"></div>
	</script>

	<script type="text/template" id="sidebar_collection_template">
		<a class="toggle">
			<i class="icon-chevron-down"></i> 
		</a>
		<a class="sidebar_name">
			<span><%= name %></span>
			<span class="count badge badge-inverse"><%= model.length %></span>
		</a>
		<div class="sidebar_children">
		</div>
	</script>

	<script type="text/template" id="sidebar_model_template">
		<a class="toggle">
			<i class="icon-chevron-down"></i> 
		</a>
		<a class="sidebar_name">
			<span><%= name %><span>
		</a>
		<div class="sidebar_children">
		</div>
	</script>

	<div class="container">
		<div class="row">
			<div class="sidebar span6">
				<div>
					<h1>btapp.js</h1>
					<div>
						Btapp.js 0.1 (c) 2012 <br>
						Patrick Williams, BitTorrent Inc.<br>
						Licensed under the MIT License
					</div>
				</div>
				<br>
				<div id="data"></div>
			</div>
			<div class="content span6">
			</div>
	</div>
</body>