body {
	background-color: #fefefe;
	font-family: monospace;
}
i {
	line-height: 20px
}
.sidebar a {
	cursor: pointer;
}
.sidebar, .content {
	min-height: 100%;
}
.sidebar_children {
	margin-left: 20px;
	border-left: 1px solid #eee;
}